<form action="/landmarks/<%= @landmark.id %>" method="post">
  <input type="text" name="landmark[name]" id="name" placeholder="Name of Landmark" value="<%= @landmark.name %>">
  <input type="text" name="landmark[year_completed]" id="year_completed" placeholder="Year it was Completed" value="<%= @landmark.year_completed %>">
  <input type="submit" value="Edit Landmark">
</form>
