<form action="/landmarks" method="post">
  <input type="text" name="landmark[name]" id="landmark_name" placeholder="Name of Landmark">
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed" placeholder="Year it was Completed">
  <input type="submit" value="Create New Landmark">
</form>
