<table>
  <tr>
    <th>Name</th>
    <th>Landmarks</th>
    <th>Titles</th>
  </tr>
  <tr>
    <td><%= @figure.name %></td>
    <td><%= @figure.landmarks.collect {|lm| lm.name }.join(", ") %></td>
    <td><%= @figure.titles.collect {|t| t.name }.join(", ") %></td>
  </tr>
<table>
